PROJECT_NAME=company_hrms_bpm

POSTGRES_DB=company_hrms_bpm
POSTGRES_USER=company_hrms
POSTGRES_PASSWORD=company_hrms_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5439
POSTGRES_SCHEMA=sys

API_PORT=8019
WEB_PORT=3019

JWT_SECRET=replace_me_with_local_dev_secret
AUTH_SESSION_SECRET=replace_me_with_local_dev_session_secret

SOURCE_BUNDLE=docs/source_bundle/Company_HRMS_BPM_Idempotent_Blueprint_Bundle_v3.zip
